<!-- views/products.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    <title>Minimani - Laputin 2</title>
</head>

<body>

    <div class="toolbar noprint">
        <span class="logo">minimani </span><span class="logonperaan"> - Laputin 2.0</span>
        <div class="search-bar">
            <form action="/products" method="GET" style="display: flex; width: 100%;">
                <input class="hakukentta" type="text" name="query" placeholder="Uutta! Nyt voit hakea tuotteen suoraan tästä! Kokeile etsiä nimellä tai ean-koodilla." value="">
                <button class="orange-btn hakunappi" id="searchButton" type="submit">Hae</button>
            </form> 
        </div>
        
        <div class="buttons noprint">
            <button class="orange-btn" title="Tulosta" onclick="window.print()"><span class="material-icons">print</span>Tulosta</button>
            <button class="gray-btn" title="Tulosta mustien kehysten kanssa (blankkoon muovitaskuun)"><span id="tulostareunatcheckbox" class="material-icons">check_box</span>Tulosta kehykset</button>
            <button class="gray-btn" title="Näytä viivakoodi" id="naytaviivakoodi"><span id="naytaviivakoodicheckbox" class="material-icons">check_box_outline_blank</span>Näytä viivakoodi</button>
            <button class="orange-btn" title="Käännä kuvaa 90 astetta" id="rotateBtn"><span class="material-icons">rotate_right</span>Käännä</button>
            <button class="gray-btn" title="Vaihda kuva toiseksi (tarvitset uuden kuvan URL-osoitteen)" id="urlButton"><span class="material-icons">link</span>Kuvan URL</button>
            <button class="orange-btn scale-up" title="Suurenna näkymää"><span class="material-icons">add</span></button>
            <button class="orange-btn scale-down" title="Pienennä näkymää"><span class="material-icons">remove</span></button>
            <button class="gray-btn" id="naytauutuus" title="Näytä uutuus-lätkä"><span id="naytauutuuscheckbox" class="material-icons">check_box_outline_blank</span>Uutuus</button>
        </div>
        <div class="sliders noprint">
            <div class="slider-container">
                <label for="product-image-size">Tuotekuvan koko:</label>
                <input type="range" id="product-image-size" min="1" max="100" value="30" step="0.3">

            </div>
            <div class="slider-container">
                <label for="product-image-position">Tuotekuvan sijainti:</label>
                <input type="range" id="product-image-position" min="-30" max="50" value="0" step="0.3">
            </div>
            <div class="slider-container">
                <label for="text-position">Tekstin sijainti:</label>
                <input type="range" id="text-position-slider" min="-30" max="30" value="0" step="0.3">
            </div>
            <div class="slider-container">
                <label for="product-info-size">Tuotetietojen koko:</label>
                <input type="range" id="product-info-size" min="0.7" max="1.5" value="1" step="0.005">
            </div>
        </div>
        
    </div> <!-- END toolbar-->

    <% if (errorMessage) { %>
        <p class="virheviesti"><%= errorMessage %></p>
    <% } %>
    
    <% if (product) { %>
        <div class="parent-lisakuvat noprint">
            
            <a href="<%= product.link %>" class="verkkokauppalinkki" target="_blank">Katso tuote verkkokaupassa</a>

            <div class="lisakuvat noprint">
                <p>Vaihda kuva:</p>
                
                <% if (product && product.additionalImageUrls) { %>
                    <div class="additional-images">
                        <% product.additionalImageUrls.forEach(function(imageUrl) { %>
                            <img src="<%= imageUrl %>" alt="<%= product.title %>" class="thumbnail">
                        <% }); %>
                    </div>
                <% } %>
                
                
            </div><!-- END lisäkuvat-->
    
        </div><!-- END parent-lisäkuvat -->
    
<!-- ****************** HINTALAPUN ALKU *********************** -->

    <div class="content">

        <div class="kehys">
            <img src="/images/kehys.png">
        </div><!-- END taustakuva -->

        
        <div class="hintalappu">
            
                <div class="uutuus"><img src="/images/uutuus.png" title="Uutuus-tuote"></div>

                <div class="tuotekuva">
                    <img class="tuotekuva-img" height="200px" src="<%= product.imageLink %>" alt="<%= product.title %>">
                </div>

                <div class="brandi tekstit" contenteditable="true" title="Kirjoita tai muokkaa brändiä"><%= product.brand %></div>
                <div class="tuote tekstit" contenteditable="true" title="Kirjoita tai muokkaa tuotenimeä"><%= product.title %></div>
                <div class="ean tekstit" contenteditable="true" title="Kirjoita tai muokkaa EAN-koodia"><%= product.id %></div>    
                <div class="hinta tekstit" contenteditable="true" title="Kirjoita tai muokkaa hintaa"><%= product.price %> €
                <div class="sulkuhinta tekstit" contenteditable="true" title="Kirjoita tai muokkaa sulkuhintaa"><%= product.saleprice ? '('+product.saleprice+' €)': '' %></div></div>    
                <div class="kuvaus tekstit" contenteditable="true" title="Kirjoita tai muokkaa tuotekuvausta"><%= product.description %></div>
                <div class="viivakoodi tekstit" contenteditable="true" title="Kirjoita tai muokkaa viivakoodia"><%= product.id %></div>    

                
            </div><!-- END hintalappu -->
        </div><!-- END content -->
    
<% } %><!-- END if (product) -->


<!-- Popup-ikkuna URL:n syöttämiseksi -->
<div class="url-popup" id="urlPopup">
    <div class="url-popup-content">
        <p>Syötä uusi URL tuotekuvalle</p>
        <p id="currentUrl"></p>
        <input type="text" id="newUrl" placeholder="Syötä uusi URL" />
        <button id="cancelButton">Peruuta</button>
        <button id="changeUrlButton">Vaihda kuva</button>
    </div>
</div>



</body>
<script type="module" src="scripts.js"></script>
</html>
